
@import url("./CSS_sections/Header.css");
@import url("./CSS_sections/Article.css");
@import url("./CSS_sections/About.css");
@import url("./CSS_sections/Subscribe.css");
@import url("./CSS_sections/Footer.css");

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


#root{
  width: 100%;
  height: auto;
}

/* .section1{
  background-image: url("./assets/images/hero.jpg");
  background-size: cover;
  height: 800px;
  margin: 2px;
} */

.section1 {
  background-image: url("./assets/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
}